@import "@/assets/scss/variables.scss";
@font-face {
  font-family: "Questa";
  src: url("../fonts/questa.eot"); /* IE9 Compat Modes */
  src: url("../fonts/questa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/questa.otf") format("opentype"), /* Open Type Font */
    url("../fonts/questa.svg") format("svg"), /* Legacy iOS */
    url("../fonts/questa.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/questa.woff") format("woff"), /* Modern Browsers */
    url("../fonts/questa.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body, html {
  font-family: 'Questa', Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100%;
  padding-bottom: 140px;
}
main {
  width: 100%;
  position: relative;
  padding: 1px 0; // avoid margin-collapsing
  background: url(../img/fondo_2.jpg)no-repeat center top;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.65);
  }
}
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0 0;
  background: $grey;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .rm_logo {
    width: 140px;
    margin-bottom: 40px;
  }
  .links {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 5px;
    margin-bottom: 20px;
    border-top: 1px solid #aaa;
    a {
      text-decoration: none;
      display: inline-block;
      font-size: 0.9em;
      letter-spacing: 3px;
      color: #111;
      padding: 8px 0;
      margin: 0 20px;
      font-weight: 600;
      transition: all 0.3s ease-out;
      &:hover {
        color: $red;
      }
    }
  }
}
.img_contain {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.title {
  position: relative;
  padding: 12px 18px;
  margin-bottom: 80px;
  // border: 2px solid #eaeaea;
  color: $grey;
  letter-spacing: 2px;
  font-size: 3em;
  line-height: 1;
  font-weight: 600;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid $grey;
  }
}
.frame {
  border: 2px solid #212121;
  // padding: 15px;
  // background: $grey;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 1250px;
}
.popup {
  &__title {
    font-family: 'Questa', Helvetica, Arial, serif;
    letter-spacing: 3px;
    line-height: 1.1;
    margin-bottom: 15px;
    color: $grey;
    // font-weight: 300;
    font-size: 1.3em;
    // text-transform: uppercase;
    font-variant: small-caps;
    small {
      font-size: .7em;
      font-variant: normal;
      color: #ccc;
      letter-spacing: 2px;
    }
  }
  &__subtitle {
    position: relative;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    color: #aaa;
    // font-style: italic;
    padding-left: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0.7em;
      left: 0;
      width: 12px;
      height: 1px;
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
/* Overrides */
.mapboxgl-popup-content {
  padding: 12px 20px 18px;
  background: #121212;
}