<template>
  <section class="filosofia d-flex flex-column">
    <div class="title" ref="title">
      FILOSOFÍA
    </div>
    <div class="container video frame">
      <!-- https://www.facebook.com/watch/?v=290224435317262 -->
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F103173214579240%2Fvideos%2F290224435317262%2F&autoplay=0&mute=1&show_captions=1" width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Filosofia'
}
</script>
<style lang="scss" scoped>
.filosofia {
  padding-top: 80px;
  .title {
    font-size: 2em;
  }
  .video {
    position: relative;
    &:before {
      width: 100%;
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%;
    }
    > iframe {
      position: absolute;
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
    }
  }
}
</style>
