<template>
  <section class="litros d-flex flex-column">
    <div class="title d-flex flex-column" ref="title">
      <span class="l_1">LITROS</span>
      <span class="l_2">TOTALES</span>
      <span class="l_3">REGALADOS</span>
    </div>
    <div class="stats container">
      <img src="@/assets/img/botella.png" alt="" class="botella">
      <img src="@/assets/img/circulo.png" alt="" class="circulo">
      <div class="contador">
        <div class="cont_1">
          <span class="n_4">
            {{ number(4) }}<span v-if="total > 999">,</span>
          </span>
          <span class="n_3">{{ number(3) }}</span>
        </div>
        <!-- <span class="spacer"></span> -->
        <div class="cont_2">
          <span class="n_2">{{ number(2) }}</span>
          <span class="n_1">{{ number(1) }}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { db } from '@/firebase'
export default {
  name: 'Litros',
  data () {
    return {
      total: 0
    }
  },
  created () {
    // setInterval(() => {
    //   this.total++
    // }, 1000)
    // this.getLitros()
    // console.log(this.total.length)
    db.collection('litros').onSnapshot(snap => {
      this.total = snap.docs[0].data().total
    })
  },
  computed: {
    n () {
      return this.total
    }
  },
  methods: {
    number (n) {
      const arrLen = 6
      return this.total.toString().padStart(arrLen, '0').split('').map(Number)[arrLen - n]
    },
    async getLitros () {
      try {
        const snapshot = await db.collection('litros').get()
        // console.log('litros', await snapshot)
        // snapshot.forEach(doc => {
        //   console.log('data', doc.data())
        // })
        console.log('data', snapshot.docs[0].data().total)
        this.total = snapshot.docs[0].data().total || 0
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";
.title {
  .l_1 {
    margin-left: 35px;
  }
  .l_2 {
    font-size: 0.65em;
    margin-right: 20px;
  }
}
.stats {
  position: relative;
  width: 100%;
  text-align: center;
  .botella {
    position: relative;
    width: 20%;
    z-index: 10;
  }
  .circulo {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    margin-left: 25%;
    margin-top: -25%;
    z-index: 0;
    animation: toggle 60s linear infinite;
  }
  .contador {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -6em;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cont_1 {
      text-align: right;
    }
    .cont_2 {
      text-align: left;
    }
    .cont_1,
    .cont_2 {
      width: 40%;
      > span {
        color: $secondary;
        font-size: 12em;
        line-height: 0.7;
        min-width: 101px;
      }
    }
    // .spacer {
    //   width: 20%;
    //   height: 40px;
    //   background: #aaa;
    //   display: inline-block;
    // }
  }
}
@keyframes toggle {
  to {
    transform: rotateZ(360deg);
  }
}
</style>
