<template>
  <section class="lugares d-flex flex-column">
    <div class="title d-flex flex-column" ref="title">
      <div class="l_1 d-flex">BRINDA <span>CON</span></div>
      <div class="l_2">NOSOTROS</div>
    </div>
    <div class="container map frame">
      <div class="mapbox" ref="mapbox" style="width: 100%; height: 100%;"></div>
    </div>
    <div class="container buttons">
      <button
        v-for="({ name, coordinates }, i) in lugares"
        :key="i"
        :class="{ 'active': i === active }"
        @click="setActive(i, coordinates)"
        v-html="nameForButton(name)"
      ></button>
    </div>
  </section>
</template>

<script>
import { db } from '@/firebase'
import Mapbox from 'mapbox-gl'
// import { MglMap, MglNavigationControl } from 'vue-mapbox'

export default {
  name: 'Lugares',
  // components: {
  //   MglMap,
  //   MglNavigationControl
  // },
  data () {
    /**
     * https://docs.mapbox.com/mapbox-gl-js/api/map/#map-parameters
     */
    return {
      active: 0,
      lugares: [],
      map: null,
      markers: [],
      zoom: 17,
      accessToken: 'pk.eyJ1IjoiZGl2ZXJnZW50ZSIsImEiOiJja2c4ODNudGQwODdnMnRwY3h6dWZzbXJ2In0.HgvhKS4eQHHwYsJVy3iPDg',
      mapStyle: 'mapbox://styles/mapbox/navigation-guidance-night-v4'
    }
  },
  created () {
    db.collection('lugares').onSnapshot(snap => {
      const arr = []
      snap.forEach(doc => {
        arr.push(doc.data())
      })
      this.lugares = arr
      this.map = Mapbox
      Mapbox.accessToken = this.accessToken
      this.initMap()
      console.log(Mapbox)
      console.log('refs', this.$refs)
    })
  },
  methods: {
    setActive (pos, coordinates) {
      this.active = pos
      // this.location = location
      this.map.flyTo({
        center: [coordinates.lng, coordinates.lat],
        speed: 1,
        zoom: this.zoom
      })
      this.markers.forEach((marker, i) => {
        const Popup = marker.getPopup()
        if ((this.active === i && !Popup.isOpen()) || (this.active !== i && Popup.isOpen())) marker.togglePopup()
      })
    },
    initMap () {
      this.map = new Mapbox.Map({
        container: this.$refs.mapbox,
        style: this.mapStyle, // stylesheet location
        center: [this.lugares[this.active].coordinates.lng, this.lugares[this.active].coordinates.lat], // starting position [lng, lat]
        zoom: this.zoom // starting zoom
      })
      this.map.addControl(new Mapbox.NavigationControl(), 'top-right')
      this.lugares.forEach(lugar => {
        const Popup = new Mapbox.Popup({ closeButton: false })
          .setHTML(`
            <h1 class="popup__title">${lugar.name}</h1>
            <h4 class="popup__subtitle">${lugar.address}</h4>
          `)
        const marker = new Mapbox.Marker()
          .setLngLat([lugar.coordinates.lng, lugar.coordinates.lat])
          .setPopup(Popup)
          .addTo(this.map)
        this.markers.push(marker)
      })
      this.markers[this.active].togglePopup()
    },
    nameForButton (name) {
      // en caso de tener un elemento <small> mostramos solo el inicio
      return name.split('<')[0]
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";
.title {
  align-items: flex-start;
  .l_1 {
    span {
      font-size: 0.6em;
      margin-left: 0.3em;
    }
  }
  .l_2 {
    margin-left: 20px;
  }
}
.map {
  height: 450px;
  margin-bottom: 60px;
  // img {
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   object-fit: cover;
  // }
  iframe {
    width: 100%!important;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  button {
    font-family: inherit;
    letter-spacing: 3px;
    background: transparent;
    font-size: 1.4em;
    font-weight: 400;
    color:$grey;
    padding: 8px 10px;
    margin: 10px 15px;
    border: 4px solid$grey;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
    }
    &:active, &:focus {
      outline: 0;
    }
    &.active {
      background: $grey;
      color: #111;
      font-weight: 600;
    }
  }
}
</style>
