<template>
  <div>
    <header class="header">
      <!-- <div class="header__topbar transparent"></div> -->
      <div class="header__img">
        <img src="@/assets/img/logo.svg" alt="" class="img_contain">
      </div>
      <div class="navigation d-flex">
        <a
          v-for="({ ref, title }, index) in links" :key="index"
          :class="{ 'active': active === index }"
          href="javascript:;"
          @click.prevent="goTo(ref, index)"
        >
          {{ title }}
        </a>
      </div>
    </header>
    <main>
      <Filosofia ref="filosofia"/>
      <Litros ref="litros"/>
      <Lugares ref="lugares"/>
    </main>
    <footer>
      <div class="container">
        <div class="rm_logo">
          <img src="@/assets/img/rm_logo.svg" alt="" class="img_contain">
        </div>
      </div>
      <div class="links">
        <a
          v-for="({ ref, title }, index) in links" :key="index"
          :class="{ 'active': active === index }"
          href="javascript:;"
          @click.prevent="goTo(ref, index)"
        >
          {{ title }}
        </a>
        <!-- <a href="javascript:;">POLÍTICA DE PRIVACIDAD</a> -->
      </div>
    </footer>
  </div>
</template>

<script>
import Filosofia from './components/Filosofia'
import Litros from './components/Litros'
import Lugares from './components/Lugares'

export default {
  name: 'App',
  components: {
    Filosofia,
    Litros,
    Lugares
  },
  data () {
    return {
      active: 0,
      links: [
        {
          ref: 'filosofia',
          title: 'FILOSOFÍA'
        },
        {
          ref: 'litros',
          title: 'LITROS'
        },
        {
          ref: 'lugares',
          title: 'LUGARES'
        }
      ]
    }
  },
  methods: {
    goTo (section, index) {
      this.active = index
      this.$scrollTo(this.$refs[section].$refs.title, 800, {
        easing: 'ease-in-out',
        offset: -80
      })
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/variables.scss";
.header {
  height: 100vh;
  background: url(./assets/img/img_01.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__img {
    flex: 1;
    width: 250px;
  }
  .navigation {
    padding: 15px 0;
    width: 100%;
    background: $primary;
    a {
      text-decoration: none;
      color: #111;
      font-size: 1.3em;
      font-weight: 600;
      margin: 0 30px;
      transition: all 0.3s ease-out;
      &.active, &:hover {
        color: $red;
      }
    }
  }
}
</style>
